AddType application/x-httpd-php .html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /errors/404.html  [L]
RewriteRule ^$ /errors/403.html [L]